body{
    background-color: lavender;
    font-family: monospace;
}

header{
    background-color: skyblue;
    width: 75%; 
}

h1{
    text-align: right;
}

img{
    height: 200px;
}

@media(min-width:500px){
    #reviews{
        display: block;
    }
}

@media(max-width:500px){
    #reviews{
        display: none;
    }
}
