body {
    background-color: rgb(230, 230, 250);
    font-family: monospace;
}

@media (min-width: 500px) {
    #reviews {
        display: block;
    }
}

@media (max-width: 500px) {
    #reviews {
        display: none;
    }
}