body {
    background-color: lavender;
    font-family: monospace;
}

header {
    background-color: skyblue;
    width: 95%;
    margin: 0 auto;
    height: 165px;
    display: flex;
    justify-content: space-between;
}

img {
 height: inherit;
}


#titles {
    width: 165px;
}

button {
    border-radius: 6px;
    padding: 1px;
    width: 150px;
    height: 35px;
}

